<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-item/all-imports.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/image-icons.html">

<dom-module id="richard-task-item">

  <link rel="import" type="css" href="../../bower_components/paper-item/paper-item-shared.css">

  <style>

    :host {
      position: relative;
      color: #37474F;
      padding: 0 12px 0 12px;
      background-color: white;

      @apply(--layout-horizontal);
      @apply(--layout-center);
      @apply(--paper-font-subhead);

      @apply(--paper-item);
      @apply(--richard-task-item);
    }

    .content-icon {
      width: var(--paper-item-icon-width, 56px);
    }

    div#contentIcon {
      border-radius: 100%;
      behavior: url(PIE.htc); /* remove if you don't care about IE8 */

      width: 24px;
      height: 24px;
      padding: 8px;

      border: 1px solid #37474F;
      color: #37474F;
      font-size: 22px;
      font-weight: lighter;
      text-align: center;
    }

    paper-item-body {
      margin: 0 16px 0 16px;
    }

    paper-spinner {   
      --paper-spinner-layer-1-color: #00BFA5;
      --paper-spinner-layer-2-color: #1DE9B6;
      --paper-spinner-layer-3-color: #00BFA5;
      --paper-spinner-layer-4-color: #1DE9B6;
      position: absolute;
      right: 10px;
      top: 24px;
      height: 24px;
      width: 24px;
      display: none;
    }

    *:not(:first-child):not(:last-child) {
      margin-right: 0px;
    }

    iron-icon {
      position: absolute;
      right: 10px;
      top: 24px;
    }

    @keyframes glowing {
      0% { background-color: #FFFFFF; }
      50% { background-color: #A7FFEB; }
      100% { background-color: #FFFFFF; }
    }

  </style>

  <template>
    <div id="contentIcon">{{taskid}}</div>  
    <paper-item-body two-line>
      <div>{{module}}</div>
      <div secondary>{{systems}}</div>
    </paper-item-body>
    <paper-spinner id="paperSpinner" active></paper-spinner>
    <iron-icon id="ironIcon"></iron-icon>
  </template>

</dom-module>

<script>

(function() {

  Polymer({

    is: 'richard-task-item',

    check_status: function() {
      if (this.status=="COMPLETE") {
        this.$.paperSpinner.style.display = "none";
        this.$.ironIcon.style.color = "#37474F";
        this.$.ironIcon.icon = "done-all";
        this.$.ironIcon.style.display = "block";
        this.style.animation = "none";
      } else if (this.status=="PENDING") {
        this.$.paperSpinner.style.display = "none";
        this.$.ironIcon.style.color = "#00BFA5";
        this.$.ironIcon.icon = "image:grain";
        this.$.ironIcon.style.display = "block";
        this.style.animation = "none";
      } else if (this.status=="ACTIVE") {
        this.$.ironIcon.style.display = "none";
        this.$.paperSpinner.style.display = "none";
        this.style.animation = "glowing 2000ms infinite";
      } else if (this.status=="ERROR") {
        this.$.ironIcon.style.display = "none";
        this.$.paperSpinner.style.display = "none";
        this.style.animation = "none";
        this.style['background-color'] = "#FFCDD2";
      }
    },

    properties: {
      module: String,
      status: String,
      taskid: String,
      systems: String
    },

    hostAttributes: {
      'role': 'listitem'
    }

  });

})();

</script>
