<!DOCTYPE html>
<html lang="en">

<head>
	<title>// MEX</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- need to load polyfill webcomponents before any html imports -->
  <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents-lite.js') }}"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-59740481-2', 'auto');
		ga('send', 'pageview');
	</script>
  <link rel="import" href="{{ url_for('static', filename='bower_components/elements.build.html') }}">   
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  
	<style>

		.node {
		  cursor: pointer;
		}

		.node:hover {
		  stroke: #000;
		  stroke-width: 1.5px;
		}

		.node--leaf {
		  fill: white;
		}

		.label {
		  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
		  text-anchor: middle;
		  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
		}

		.label,
		.node--root,
		.node--leaf {
		  pointer-events: none;
		}


	</style>

</head>

<body>
	
	<img class=logo src="../static/img/arup.png"></img>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/jquery.js') }}"></script>
	<script>

		$(window).resize( function() {
			d3.select("body").selectAll("*").remove();
			draw();
		});

		function draw() {
			var margin = 20,
		  diameter = $("body").height() - 100;

			var color = d3.scale.linear()
		    .domain([-1, 5])
		    .range(["#F5F5F5", "hsl(228,30%,40%)"])
		    .interpolate(d3.interpolateHcl);

			var pack = d3.layout.pack()
		    .padding(2)
		    .size([diameter - margin, diameter - margin])
		    .value(function(d) { return d.size; })

			var svg = d3.select("body").append("svg")
		    .attr("width", $("body").width())
		    .attr("height", $("body").height())
			  .append("g")
		    .attr("transform", "translate(" + ($("body").width() / 2) + "," + ($("body").height() / 2) + ")");

			d3.json("{{ url_for('json_temp', filename=filename) }}", function(error, root) {
			  if (error) throw error;

			  var focus = root,
		      nodes = pack.nodes(root),
		      view;

			  var circle = svg.selectAll("circle")
			    .data(nodes)
			    .enter().append("circle")
		      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
		      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
		      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

			  var text = svg.selectAll("text")
			    .data(nodes)
			    .enter().append("text")
		      .attr("class", "label")
		      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
		      .style("display", function(d) { return d.parent === root ? null : "none"; })
		      .text(function(d) { return d.name; });

			  var node = svg.selectAll("circle,text");

			  d3.select("body")
		      .style("background", color(-1))
		      .on("click", function() { zoom(root); });

			  zoomTo([root.x, root.y, root.r * 2 + margin]);

			  function zoom(d) {
			    var focus0 = focus; focus = d;

			    var transition = d3.transition()
		        .duration(d3.event.altKey ? 7500 : 750)
		        .tween("zoom", function(d) {
		          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
		          return function(t) { zoomTo(i(t)); };
		        });

			    transition.selectAll("text")
			      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
		        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
		        .each("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
		        .each("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
			  }

			  function zoomTo(v) {
			    var k = diameter / v[2]; view = v;
			    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
			    circle.attr("r", function(d) { return d.r * k; });
			  }
			});

			d3.select(self.frameElement).style("height", diameter + "px");
		}

		draw();

	</script>

</body>
</html>